/* 
==========================================
Styles
==========================================
*/

.main-nav-container {
  list-style: none;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin: 45px auto;
}

.nav {
  color: #fff;
  padding: 15px;
  margin: 5px;
  background: #3db5da
}

.activities-container {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin: 45px auto;
}

.activity {
  color: #fff;
  padding: 15px;
  margin: 5px;
  background: #3db5da
}

